{
    "printWidth": 120,
    "tabWidth": 4,
    "endOfLine": "lf",
    "semi": false,
    "singleQuote": false,
    "trailingComma": "es5",
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrder": [
        "^(next/(.*)$)|^(next$)",
        "",
        "^(react/(.*)$)|^(react$)",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "<BUILT_IN_MODULES>",
        "",
        "^@/components/ui/(.*)$",
        "",
        "^@/components/(.*)$",
        "",
        "^@/hooks/(.*)$",
        "",
        "^@/contexts/(.*)$",
        "",
        "^@/styles/(.*)$",
        "",
        "^@/constants/(.*)$",
        "",
        "^@/services/(.*)$",
        "",
        "^@/wrappers/(.*)$",
        "",
        "^@/store/(.*)$",
        "",
        "^@/utils/(.*)$",
        "",
        "^@/types/(.*)$",
        "",
        "^[./]"
    ],
    "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
